@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  position: fixed;
  width: calc(100% - 20%);
  z-index: 1000;
  top: 0;
  height: 40px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.logo {
  cursor: pointer;
  width: 80px;
  transition: 0.2s ease-in all 0s;
}

.logo:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.navlinks li,
.navlinks a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
}

.navlinks li a {
  transition: all 0.25s ease;
  padding: 20px;
}

.navlinks li a:hover {
  color: #ffffff;
}

.contacto {
  background-color: #4b83d8;
  padding: 6px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.25s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.contacto:hover {
  color: #4b83d8;
  background-color: #000;
}

/* contenido */

/* intro */

#inicio {
  place-items: center;
  display: flex;
  background: #7998c7;
  justify-content: center;
  height: 99vh;
}
.texto {
  align-content: center;
  display: grid;
  place-items: center;
}
.jpch1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
}

.jpcdiv {
  box-sizing: content-box;
  display: flex;
  height: 20px;
}

.texto p,
.texto div {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #17263d;
  font-size: 20px;
}

.palabras {
  overflow: hidden;
}

.palabras span {
  display: block;
  height: 30px;
  padding-left: 5px;
  animation: rot_palabras infinite 10s;
}

@keyframes rot_palabras {
  10% {
    transform: translateY(-112%);
  }

  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.wave {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

/* servicios */
#servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#servicios h2 {
  font-weight: 800;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #4b83d8;
  padding: 80px 0 0 0;
}

.servicios-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(auto, auto));
  gap: 20px;
  padding: 50px 0;
  max-width: 65vw;
}

.s-div {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  background-color: #ddd;
}

.s-div h3 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}

.s-div p {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 10px 20px;
}

/* starlink */

#starlink {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#eee, #ccc);
  display: flex;
  align-items: center;
  justify-content: center;
}

#starlink img {
  max-width: 400px;
  min-width: 100px;
  filter: drop-shadow(22px 8px 35px #0000003b);
}

.starlink-cont {
  max-width: 75vh;
  min-width: 1vh;
  display: flex;
  flex-direction: column;
  padding: 0 75px;
}

.starlink-cont h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.starlink-cont button {
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #7998c7;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.starlink-cont button:hover {
  background-color: #17263d;
}

.starlink-cont a {
  padding: 0 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #333;
  transition: all 0.3s ease;
  cursor: pointer;
}

.starlink-cont a:hover {
  color: #000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.096);
}

.fa-solid {
  padding: 0 5px;
  font-size: 13px;
}

.starlink-cont p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 15px 0;
  font-size: 15px;
}

/* info */

#info {
  height: 100vh;
  width: 100vw;
}

/* contacto */

.wave2 {
  transform: rotate(180deg);
  position: absolute;
  top: 0;
}

#contacto {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#ccc, #bbb);
}
